@import "../settings/breackpoints";

.actu {
  background-image: url('../../resources/img/bg_animated_shapes.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }

      @include tablet-up {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1.5rem;
      }
    }
  }

  &__title {
    font-size: 1.5rem;

    @include tablet-up {
      font-size: 2rem;
    }
  }
}