@import "../settings/breackpoints";


.slider {
  background-color: var(--dark-blue);

  & .size-wrapper{
    position: relative;
    overflow-x: hidden;

    @include tablet-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      align-items: center;
    }
  }

  &__title {
    font-size: 1.25rem;
    color: var(--text-white);
    margin-bottom: 1.5rem;

    @include tablet-up{
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  &__content {
    line-height: 1.5;
    color: var(--text-white);
  }

  &__wrapper {
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;

    @include tablet-up {
      width: 100%;
      max-width: none;
      min-width: 0;
      margin: 0;
      overflow: hidden;
    }
  }

  &__track {
    display: flex;
    gap: 5%;
    width: 500%;
    transition: transform 0.5s ease-in-out;
    scroll-snap-type: x mandatory;
  }

  &__slide {
    width: 20%;
    flex-shrink: 0;
    cursor: pointer;
    scroll-snap-align: center;
  }

  &__img{width: 100%;
    height: auto;
    display: block;
  }


  &__radio {
    display: none;
  }

  &__dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top:1rem;
  }

  &__dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:var(--text-white);
    cursor: pointer;
    transition: background-color 0.3s, width 0.3s;
    user-select: none;
  }
}


#slide-0:checked ~ .slider__track {
  transform: translateX(0%);
}
#slide-1:checked ~ .slider__track {
  transform: translateX(-25%);
}
#slide-2:checked ~ .slider__track {
  transform: translateX(-50%);
}
#slide-3:checked ~ .slider__track {
  transform: translateX(-75%);
}



#slide-0:checked ~ .slider__dots label[for="slide-0"],
#slide-1:checked ~ .slider__dots label[for="slide-1"],
#slide-2:checked ~ .slider__dots label[for="slide-2"],
#slide-3:checked ~ .slider__dots label[for="slide-3"] {
  background-color: var(--greyish);
  width: 32px;
  border-radius: 8px;
}
