:root {
  --text-body: #2D334A;
  --text-title: #272343;
  --text-white: #FFFFFE;


  --nav-bg: #FFFFFE;
  --footer-bg: #2D334A;

  --yellowish: #FFD803;
  --greyish: #757575;
  --light-blue: #E3F6F5;
  --electric-blue: #BAE8E8;
  --dark-blue: #272343;

  --cta-main: #272343;
}